<a href="https://colab.research.google.com/github/Ravi-Teja-Reddy/Ravi-Teja-Reddy.github.io/blob/master/q3_upto_tfidf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk import word_tokenize,pos_tag
from operator import itemgetter

In [100]:
data = pd.read_csv('emails.txt', sep="\t", header=None)

In [101]:
data.columns = ["Type", "Text"]

In [102]:
data

      Type                                               Text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [103]:
data['Text']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Text, Length: 5572, dtype: object

In [104]:

count=0
for i in data['Text']:
  if(count==5):
    break
  print(i)
  count+=1

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
Ok lar... Joking wif u oni...
Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
U dun say so early hor... U c already then say...
Nah I don't think he goes to usf, he lives around here though

In [105]:
data['Text'][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [106]:
type(data['Text'][0
                  ])

str

In [107]:
data.head()

   Type                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [11]:
sw = stopwords.words('english')

In [108]:
def removepunctuation(text):
  punctuation_free=""
  for i in text:
    if i not in string.punctuation:
      punctuation_free=punctuation_free+i
  
  return punctuation_free.lower()

In [109]:
def removenumbers(text):
  output=""
  for i in text:
    if not i.isdigit():
      output=output+i
  
  return output

In [110]:
removenumbers("There was 200 people standing right next to me at 2pm.")

'There was  people standing right next to me at pm.'

In [111]:
# row=0
# for i in data['Text']:
#   data['Text'][row]=removepunctuation(i)
#   row+=1

In [112]:
data['Text'][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [21]:
text="hello world good bye where how is it"
text.split()

['hello', 'world', 'good', 'bye', 'where', 'how', 'is', 'it']

In [113]:
def tokenization(text):
  return list(set(text.split()))

In [114]:
stopwords = nltk.corpus.stopwords.words('english')

In [115]:
def removestopwords(text):
  output=[]
  for i in text:
    if i not in stopwords:
      output.append(i)
  return output

In [116]:
from nltk.stem import WordNetLemmatizer
word_lemmatizer=WordNetLemmatizer()

In [117]:
# def lemmatization(text):
#   output=[]
#   for i in text:
#     output.append(word_lemmatizer.lemmatize(i))
#   return output
def lemmatization(text):

    

    result=[]

    # wordnet = WordNetLemmatizer()

    for token,tag in pos_tag(text):

        pos=tag[0].lower()

        

        if pos not in ['a', 'r', 'n', 'v']:

            pos='n'

            

        result.append(word_lemmatizer.lemmatize(token,pos))

    

    return result

In [118]:
# text="ran"
# s=word_lemmatizer.lemmatize(text)
# print(s)

In [119]:
row=0
for i in data['Text']:
  data['Text'][row]=removenumbers(i)
  row+=1

In [121]:
data['Text']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in  a wkly comp to win FA Cup final...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the nd time we have tried  contact u. ...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Text, Length: 5572, dtype: object

In [122]:
row=0
for i in data['Text']:
  data['Text'][row]=removestopwords(i)
  row+=1

In [123]:
data['Text']

0       [G,  , u, n, l,  , j, u, r, n, g,  , p, n, ,, ...
1       [O, k,  , l, r, ., ., .,  , J, k, n, g,  , w, ...
2       [F, r, e, e,  , e, n, r,  , n,  ,  ,  , w, k, ...
3       [U,  , u, n,  ,  ,  , e, r, l,  , h, r, ., ., ...
4       [N, h,  , I,  , n, ',  , h, n, k,  , h, e,  , ...
                              ...
5567    [T, h,  ,  , h, e,  , n,  , e,  , w, e,  , h, ...
5568    [W, l, l,  , ü,  , b,  , g, n, g,  ,  , e, p, ...
5569    [P, ,,  , *,  , w,  , n,  ,  , f, r,  , h, ., ...
5570    [T, h, e,  , g, u,  ,  , e,  , b, c, h, n, g, ...
5571        [R, f, l, .,  , I,  , r, u, e,  ,  ,  , n, e]
Name: Text, Length: 5572, dtype: object

In [124]:
row=0
for i in data['Text']:
  data['Text'][row]=removepunctuation(i)
  row+=1

In [125]:
data['Text']

0       g unl jurng pn crz avlble nl n bug n gre wrl l...
1                                       ok lr jkng wf u n
2       free enr n   wkl cp  wn fa cup fnl k  m  tex f...
3                              u un   erl hr u c lre hen
4               nh i n hnk he ge  uf he lve run here hugh
                              ...
5567    th  he n e we hve re  cnc u u hve wn he £ pun ...
5568                             wll ü b gng  eplne fr he
5569                            p  w n  fr h sn her uggen
5570    the gu  e bchng bu i ce lke  be neree n bung e...
5571                                       rfl i rue   ne
Name: Text, Length: 5572, dtype: object

In [126]:
import nltk
nltk.download('averaged_perceptron_tagger')
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [127]:
row=0
for i in data['Text']:
  data['Text'][row]=lemmatization(i.split())
  row+=1

In [96]:
# import nltk
# nltk.download('wordnet')

In [128]:
data['Text']

0       [g, unl, jurng, pn, crz, avlble, nl, n, bug, n...
1                                [ok, lr, jkng, wf, u, n]
2       [free, enr, n, wkl, cp, wn, fa, cup, fnl, k, m...
3                        [u, un, erl, hr, u, c, lre, hen]
4       [nh, i, n, hnk, he, ge, uf, he, lve, run, here...
                              ...
5567    [th, he, n, e, we, hve, re, cnc, u, u, hve, wn...
5568                      [wll, ü, b, gng, eplne, fr, he]
5569                     [p, w, n, fr, h, sn, her, uggen]
5570    [the, gu, e, bchng, bu, i, ce, lke, be, neree,...
5571                                    [rfl, i, rue, ne]
Name: Text, Length: 5572, dtype: object

In [129]:
data['Text'][0]

['g',
 'unl',
 'jurng',
 'pn',
 'crz',
 'avlble',
 'nl',
 'n',
 'bug',
 'n',
 'gre',
 'wrl',
 'l',
 'e',
 'buffe',
 'cne',
 'here',
 'g',
 're',
 'w']

In [130]:

total=set()
for i in data['Text']:
  unique_words=set(i)
  total=total.union(unique_words)

In [131]:
N=len(data['Text'])

In [132]:
word_count=0
def tf(text):
  word_count=len(set(text))
  freq={}
  for i in text:
    if freq.get(i,0):
      freq[i]+=1
    else:
      freq[i]=1
    # freq[i]=freq.get(i,0)+1
    
  output=[]
  for i in text:
    output.append(freq[i]/word_count)
  return output

In [133]:
def sentence_count(word):
  count=0
  for i in data['Text']:
    if word in i:
      count+=1
  
  return count

In [134]:
def idf(text):
  output=[]
  for i in text:
    n=sentence_count(i)
    output.append(np.log(N/1+n))
  return output

In [135]:
word_freq={}

In [136]:
for sentence in data['Text']:
  for word in sentence:
    if word not in word_freq.keys():
      word_freq[word]=1
    else:
      word_freq[word]+=1

In [138]:
len(word_freq)

5790

In [137]:
data['Text']

0       [g, unl, jurng, pn, crz, avlble, nl, n, bug, n...
1                                [ok, lr, jkng, wf, u, n]
2       [free, enr, n, wkl, cp, wn, fa, cup, fnl, k, m...
3                        [u, un, erl, hr, u, c, lre, hen]
4       [nh, i, n, hnk, he, ge, uf, he, lve, run, here...
                              ...
5567    [th, he, n, e, we, hve, re, cnc, u, u, hve, wn...
5568                      [wll, ü, b, gng, eplne, fr, he]
5569                     [p, w, n, fr, h, sn, her, uggen]
5570    [the, gu, e, bchng, bu, i, ce, lke, be, neree,...
5571                                    [rfl, i, rue, ne]
Name: Text, Length: 5572, dtype: object

In [139]:
word_idfvalues={}

In [140]:
for word in word_freq:
  document_count=0
  for sentence in data['Text']:
    if word in sentence:
      document_count+=1
  value=np.log(N/1+document_count)
  word_idfvalues[word]=value

In [142]:
word_tfvalues={}

In [141]:
data['Text']

0       [g, unl, jurng, pn, crz, avlble, nl, n, bug, n...
1                                [ok, lr, jkng, wf, u, n]
2       [free, enr, n, wkl, cp, wn, fa, cup, fnl, k, m...
3                        [u, un, erl, hr, u, c, lre, hen]
4       [nh, i, n, hnk, he, ge, uf, he, lve, run, here...
                              ...
5567    [th, he, n, e, we, hve, re, cnc, u, u, hve, wn...
5568                      [wll, ü, b, gng, eplne, fr, he]
5569                     [p, w, n, fr, h, sn, her, uggen]
5570    [the, gu, e, bchng, bu, i, ce, lke, be, neree,...
5571                                    [rfl, i, rue, ne]
Name: Text, Length: 5572, dtype: object

In [143]:

for word in word_freq:
  tf_vector=[]
  
 
  for sentence in data['Text']:
    
    count=0
    
    for token in sentence:
      if word==token:
        count+=1
    
    tf_vector.append(count/((len(sentence))+1))
  word_tfvalues[word]=tf_vector

In [145]:
tf_idfvalues=[]

In [144]:
data['Text']

0       [g, unl, jurng, pn, crz, avlble, nl, n, bug, n...
1                                [ok, lr, jkng, wf, u, n]
2       [free, enr, n, wkl, cp, wn, fa, cup, fnl, k, m...
3                        [u, un, erl, hr, u, c, lre, hen]
4       [nh, i, n, hnk, he, ge, uf, he, lve, run, here...
                              ...
5567    [th, he, n, e, we, hve, re, cnc, u, u, hve, wn...
5568                      [wll, ü, b, gng, eplne, fr, he]
5569                     [p, w, n, fr, h, sn, her, uggen]
5570    [the, gu, e, bchng, bu, i, ce, lke, be, neree,...
5571                                    [rfl, i, rue, ne]
Name: Text, Length: 5572, dtype: object

In [146]:
for word in word_freq:
  tf_idf_vector=[]
  for value in word_tfvalues[word]:
    tf_idf_vector.append(value*(word_idfvalues[word]))
  tf_idfvalues.append(tf_idf_vector)

In [149]:
df=pd.DataFrame(data=tf_idfvalues)

In [155]:
df=df.transpose()

In [153]:
len(data['Text'])

5572

In [156]:
df

          0         1         2         3     ...  5786  5787  5788     5789
0     0.835013  0.410994  0.410747  0.411586  ...   0.0   0.0   0.0  0.00000
1     0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
2     0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
3     0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
4     0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
...        ...       ...       ...       ...  ...   ...   ...   ...      ...
5567  0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
5568  0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
5569  0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000
5570  0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.37503
5571  0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  0.00000

[5572 rows x 5790 columns]

In [157]:
df.columns=list(word_freq.keys())

In [158]:
df

             g       unl     jurng        pn  ...  phewng  boring  reminder    bchng
0     0.835013  0.410994  0.410747  0.411586  ...     0.0     0.0       0.0  0.00000
1     0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
2     0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
3     0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
4     0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
...        ...       ...       ...       ...  ...     ...     ...       ...      ...
5567  0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
5568  0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
5569  0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000
5570  0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.37503
5571  0.000000  0.000000  0.000000  0.000000  ...     0.0     0.0       0.0  0.00000

[5572 rows x 5790 columns]

In [160]:
data = pd.read_csv('sample.text', sep="\t", header=None)

In [161]:
data

                                   0
0            I like to play football
1  Did you go outside to play tennis
2             John and I play tennis

In [162]:
data.columns = ["Text"]

In [163]:
data

                                Text
0            I like to play football
1  Did you go outside to play tennis
2             John and I play tennis

In [164]:
row=0
for i in data['Text']:
  data['Text'][row]=removestopwords(i)
  row+=1

In [165]:
data['Text']

0          [I,  , l, k, e,  ,  , p, l,  , f, b, l, l]
1    [D,  , u,  , g,  , u, e,  ,  , p, l,  , e, n, n]
2          [J, h, n,  , n,  , I,  , p, l,  , e, n, n]
Name: Text, dtype: object

In [166]:
row=0
for i in data['Text']:
  data['Text'][row]=removepunctuation(i)
  row+=1

In [167]:
data['Text']

0      i lke  pl fbll
1    d u g ue  pl enn
2      jhn n i pl enn
Name: Text, dtype: object

In [168]:
row=0
for i in data['Text']:
  data['Text'][row]=lemmatization(i.split())
  row+=1

In [169]:
data['Text']

0        [i, lke, pl, fbll]
1    [d, u, g, ue, pl, enn]
2      [jhn, n, i, pl, enn]
Name: Text, dtype: object

In [170]:
total=set()
for i in data['Text']:
  unique_words=set(i)
  total=total.union(unique_words)

In [171]:
total

{'d', 'enn', 'fbll', 'g', 'i', 'jhn', 'lke', 'n', 'pl', 'u', 'ue'}

In [172]:
N=len(data['Text'])

In [174]:

def tf(text):
  word_count=0
  word_count=len(set(text))
  freq={}
  for i in text:
    if freq.get(i,0):
      freq[i]+=1
    else:
      freq[i]=1
    # freq[i]=freq.get(i,0)+1
    
  output=[]
  for i in text:
    output.append(freq[i]/word_count)
  return output

In [175]:
def sentence_count(word):
  count=0
  for i in data['Text']:
    if word in i:
      count+=1
  
  return count

In [176]:
def idf(text):
  output=[]
  for i in text:
    n=sentence_count(i)
    output.append(np.log(N/1+n))
  return output

In [177]:
word_freq={}

In [178]:
for sentence in data['Text']:
  for word in sentence:
    if word not in word_freq.keys():
      word_freq[word]=1
    else:
      word_freq[word]+=1

In [179]:
len(word_freq)

11

In [180]:
data['Text']

0        [i, lke, pl, fbll]
1    [d, u, g, ue, pl, enn]
2      [jhn, n, i, pl, enn]
Name: Text, dtype: object

In [193]:
data['Text']

0        [i, lke, pl, fbll]
1    [d, u, g, ue, pl, enn]
2      [jhn, n, i, pl, enn]
Name: Text, dtype: object

In [181]:
word_idfvalues={}

In [213]:
for word in word_freq:
  document_count=0
  for sentence in data['Text']:
    if word in sentence:
      document_count+=1
  value=np.log((N+1)/(1+document_count))
  word_idfvalues[word]=value

In [214]:
word_idfvalues

{'d': 0.6931471805599453,
 'enn': 0.28768207245178085,
 'fbll': 0.6931471805599453,
 'g': 0.6931471805599453,
 'i': 0.28768207245178085,
 'jhn': 0.6931471805599453,
 'lke': 0.6931471805599453,
 'n': 0.6931471805599453,
 'pl': 0.0,
 'u': 0.6931471805599453,
 'ue': 0.6931471805599453}

In [215]:
N

3

In [216]:
word_tfvalues={}

In [217]:
for word in word_freq:
  tf_vector=[]
  
 
  for sentence in data['Text']:
    
    count=0
    
    for token in sentence:
      if word==token:
        count+=1
    
    tf_vector.append(count/((len(sentence))+1))
  word_tfvalues[word]=tf_vector

In [218]:
tf_idfvalues=[]

In [219]:
for word in word_freq:
  tf_idf_vector=[]
  for value in word_tfvalues[word]:
    tf_idf_vector.append(value*(word_idfvalues[word]))
  tf_idfvalues.append(tf_idf_vector)

In [220]:
df=pd.DataFrame(data=tf_idfvalues)

In [221]:
df

           0         1         2
0   0.057536  0.000000  0.047947
1   0.138629  0.000000  0.000000
2   0.000000  0.000000  0.000000
3   0.138629  0.000000  0.000000
4   0.000000  0.099021  0.000000
5   0.000000  0.099021  0.000000
6   0.000000  0.099021  0.000000
7   0.000000  0.099021  0.000000
8   0.000000  0.041097  0.047947
9   0.000000  0.000000  0.115525
10  0.000000  0.000000  0.115525

In [222]:
df=df.transpose()

In [223]:
df

         0         1    2         3   ...        7         8         9         10
0  0.057536  0.138629  0.0  0.138629  ...  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.0  0.000000  ...  0.099021  0.041097  0.000000  0.000000
2  0.047947  0.000000  0.0  0.000000  ...  0.000000  0.047947  0.115525  0.115525

[3 rows x 11 columns]

In [224]:
df.columns=list(word_freq.keys())

In [225]:
df

          i       lke   pl      fbll  ...        ue       enn       jhn         n
0  0.057536  0.138629  0.0  0.138629  ...  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.0  0.000000  ...  0.099021  0.041097  0.000000  0.000000
2  0.047947  0.000000  0.0  0.000000  ...  0.000000  0.047947  0.115525  0.115525

[3 rows x 11 columns]